.slide-in {
    animation: slide-in 0.5s ease forwards;
}

.slide-item {
    opacity: 0;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.slide-item:hover .card {
    transform: scale(1.1);
    cursor: pointer;
}

.slide-left {
    animation-name: slide-left;
}

.slide-right {
    animation-name: slide-right;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-left {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-right {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.spinner {
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
}

.fixed-size-img {
    height: 280px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    border: 4px solid #444;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}